body {
    margin: 0;
    padding: 0;
    background: #f8f8f8;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
p {
    border-style: unset;
    border-width: unset;
    border-radius: unset;
    position: sticky;
}
img{
    position: sticky;
    top: 0px;
    float: left;

}
h1 {
    border-top-style: hidden;
    border-bottom-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
}
/* targets unique id for one paragraph*/
#p1{
    /*margins*/
    border: 5px solid;
    width: 500px;
    height: 500px;
    font-size: 22px;
    background-color: cornflowerblue;
    margin-left: auto;
    margin-right: auto;
    color: rgb(0, 65, 0);
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px;
    background: #111827;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 10px rgba(0,0,0,.3);
    border-bottom: 1px solid white;
}
.logo {
    margin: 0;
    padding-left: 30px;
    color: white;
}
.navlinks {
    list-style: none;

    display: flex;
    gap: 0px;
    margin: 0;
    padding: 0px 0px;
}
.navlinks a {
    color: #d1d5db;
    text-decoration: none;
    padding: 0px;
    border-radius: 6px;
    transition: 0.2s;
}
.navlinks a:hover {
    color: #60a5fa;
}
.navlinks a:active {
    color: #60a5fa;
    border-bottom: 2px solid #60a5fa;
    padding-bottom: 4px;

}
.navlinks li {
    border-left: 1px solid white;
    padding: 10px 15px;
}
.content {
    margin-left: 10px;
}
.textbox {
    margin-left: 10px;
    display: inline-block;
    padding: 8px 14px;
    border: 1px solid #374151;
    border-radius: 999px;
    background-color: white;
    color: #1f2937;
}

.odd {
    /* multiple fonts in case the first font is not supported by the browser*/
    font-family: consolas, roboto, sans-serif;
    font-style: italic;
    font-weight: 400;
    text-decoration: red dotted underline;
    background-color: cadetblue;
    font-size: 24px;
}